streamlit>=1.37.0

pandas
numpy

langchain
langchain-community
langchain-openai
langchain-google-genai

faiss-cpu

sentence-transformers

openai
google-generativeai

pypdf
pdfplumber
python-docx
striprtf
textract

tiktoken

scikit-learn

plotly

python-dotenv

Pillow

openpyxl




